<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="HCLAB.hclab" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="Hclab.hclab" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
 <userSettings>
  <HCLAB.hclab>
   <setting name="WES" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.10.11.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))); user id = hclab; password = hclab;</value>
   </setting>
   <setting name="NAGA" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.20.5.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) ; user id = hclab; password = hclab;</value>
   </setting>
   <setting name="TABUNOK" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.12.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))); user id = hclab; password = hclab;</value>
   </setting>
   <setting name="LILOAN" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.51.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))); user id = hclab; password = hclab;</value>
   </setting>
   <setting name="DIAMOND" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.10.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))); user id = hclab; password = hclab;</value>
   </setting>
   <setting name="MACTAN" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.21.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))); user id = hclab; password = hclab;</value>
   </setting>
   <setting name="CONSOLACION" serializeAs="String">
    <value>data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.62.2.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))); user id = hclab; password = hclab;</value>
   </setting>
  </HCLAB.hclab>
 </userSettings>
</configuration>